<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSS Grid Layout</title>
  <link rel="stylesheet" href="../assets/css/normalize.css">
  <style>
      section{
        width: 500px;
        height: 500px;
        border: 2px solid red;
        display: grid;
          /*grid-template-rows: 1fr 1fr 1fr;*/
          grid-template-rows: 100px 100px 50px;
         /* grid-template-columns: 1fr 1fr 1fr 1fr;*/
          grid-template-columns: repeat(4,1fr);
          column-gap: 10px;
          row-gap: 10px;
      }

      section>div{
       border: 1px solid blue;
      }
  </style>
</head>
<body>
    <section>
        <div>A</div>
        <div>B</div>
      <div>C</div>
      <div>D</div>
      <div>E</div>
      <div>F</div>
      <div>G</div>
      <div>H</div>
      <div>I</div>
      <div>J</div>
    </section>
</body>
</html>